body{
     background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-s48-eye-00010.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f43852d3c960793feb4dcef783bbc85d');
     background-repeat: no-repeat;
     background-size: cover;
}

.heading{
     padding: 10px;
     font-size: 30px;
     margin:0px;
     width: 100%;
     font-family: 'Lobster Two';
}

.note{
     font-size: 23px;
     color: black;
}

#song{
     width:30%;
     padding: 30px;
     border-radius: 20px;
     font-size:30px;
     color: black;
}

canvas{
     border: 5px solid white;
     border-radius: 20px;
}